.aboutme{
    height: 20%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    // background: yellow;
    padding-bottom: 10rem;

    &__container{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    &__h2{
        text-align: center;
    }

    &__p{
        max-width: 40%;
    }
}