.aboutme{
    height: 20%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    &__container{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    &__h2{
        text-align: center;
    }

    &__p{
        max-width: 80%;
        text-align: center;
    }
}