.frontinfo{
    height: 100%;
    width: 93%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8rem;
    padding-bottom: 17.9rem;

    &__container{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;

        &__h2{
            font-size: 500%;
            animation-name: popup;
            animation-duration: 0.8s;
            animation-fill-mode: backwards;
            animation-delay: 0.75s;
        }

        &__p{
            font-size: 200%;
            animation-name: popup;
            animation-duration: 0.8s;
            animation-fill-mode: backwards;
            animation-delay: 1.8s;
        }
    }

    &__icon{
        min-width: 46rem;
        min-height: 46rem;
        max-width: 46rem;
        max-height: 46rem;
        border: dashed 0.5rem black;
        border-radius: 50%;
        object-fit: cover;
        animation-name: popup;
        animation-duration: 0.8s;
        animation-fill-mode: backwards;
        animation-delay: 2.1s;
    
    
        &:hover{
            cursor: pointer;
        }
    
    }
}


@keyframes popup {
    from{
        transform: translateY(2rem);
        opacity: 0;
    }
    to{
        transform: translateY(0rem);
        opacity: 1;
    }
}