.frontinfo{
    height: 86vh;
    width: 93%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;

        &__h2{
            font-size: 800%;
        }
    }

    &__icon{
        min-width: 46rem;
        min-height: 46rem;
        max-width: 46rem;
        max-height: 46rem;
        border: dashed 0.5rem black;
        border-radius: 50%;
        object-fit: cover;
    }
}