.header {
    height: 8rem;
    min-width: 100%;
    background: linear-gradient(to bottom, #87CBB9, #B9EDDD);
    padding-right: 5rem;
    text-align: center;

    &__ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 2rem;
        list-style-type: none;
        height: 100%;

        &__li {
            font-family: Arial, sans-serif;
            font-size: 2rem;
            color: white;

            &__a {
                font-family: Arial, sans-serif;
                font-size: 2rem;
                color: black;
                font-weight: 600;
            }
        }

    }
}

.header__project{
    background: none;
    padding: none;
    height: 2rem;
}