@media screen and (max-width: 48.25rem) {
    .header__p{
        display: none;
    }
    .header__input{
        display: none;
    }
    .header__button--login{
        display: none;
    }
    .header__button--signUp{
        display: none;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 48.625rem) {
    .business__section{
        width: 100% !important;
    }

    .business__button{
        background: green;
    }
}

@media screen and (max-width: 49.375rem) {
    .business__img--weg{
        display: none;
    }
}

@media screen and (max-width: 60.75rem) {
    .banner__article{
        display: none;
    }
}
