@use "../frontInfo/frontinfo.scss";
@use "../aboutme/aboutme.scss";
@use "../modal/modal.scss";

@media only screen and (max-width: 84.375rem) {

    .frontinfo {
        &__container {
            &__h2 {
                font-size: 300%;
            }
        }
    }

    .aboutme {
        height: 25rem;
        padding-bottom: 30rem;
    }


    .myskills {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        gap: 4rem;

        &__right {
            margin-top: 11rem;
            margin-bottom: 11rem;
        }
    }

    .contact {
        margin-top: 10rem;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 6rem;
        flex-wrap: wrap;

        &__container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10rem;
            height: 100%;
            width: 100%;
            flex-wrap: wrap;

            &__icon {
                width: 20rem;
                height: 20rem;
                border-radius: 50%;
            }
        }
    }

    .card {
        width: 40rem;
    }

    .projects,
    .projects__container {
        gap: 3rem;
    }
}

@media only screen and (max-width: 66.5625rem) {
    .aboutme {
        padding-bottom: 40rem;
    }

    .contact-buttons{
        width: 40%;
    }
}

@media only screen and (max-width: 45.625rem) {
    .frontinfo {

        &__container {

            &__h2 {
                font-size: 100%;
            }
        }

        &__icon {
            min-width: 26rem;
            min-height: 26rem;
            max-width: 26rem;
            max-height: 26rem;
        }
    }

    .aboutme {
        padding-bottom: 60rem;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}


@media only screen and (max-width: 35.25rem) {
    .frontinfo {
        flex-direction: column;


        &__container {
            justify-content: center;
            align-items: center;
            padding-bottom: 6rem;
            gap: 2rem;

            &__h2 {
                font-size: 300%;
            }
        }
    }

    .aboutme {
        &__h2 {
            font-size: 200%;
        }

        &__p {
            font-weight: 500;
        }
    }

    .header {
        width: 100%;

        &__ul {
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }
}

@media only screen and (max-width: 34.25rem){
    .contact-buttons{
         width: 60%;
    }
}

@media only screen and (max-width: 31.5rem) {
    .aboutme {
        padding-bottom: 85rem;

        &__p {
            text-align: center;
            width: 100%;
        }
    }

    .myskills {
        &__left {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5rem;

            &__h2 {
                text-align: center;
                width: 120%;
            }

            &__p {
                font-weight: 500;
                text-align: center;
            }
        }
    }

    .projects {
        &__container {
            width: 90%;
        }

        &__h2 {
            padding: 2rem;
            text-align: center;
        }
    }
}


// queries MODAL

@media only screen and (max-width: 62.375rem){
    .section1Modal__top{
        display: none;

        &__img{
            display: none;
        }
    }

    .modal{
        height: 110%;
    }
    
    .sectionModal__img {
        width: 10rem;
        height: 10rem;
    }

    .section2Modal__bottom__h3{
        text-align: center;
    }

    .sectionModal__img--container{
        padding-top: 2rem;
      
        &--3plus{
          max-width: 20rem;
        }
      }

      .section1Modal__bottom__socialIconsCover{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .section1Modal__bottom__socialIconsCover--img {
        width: 8rem;
        height: 8rem;
    }

    .section1Modal{
        width: 100%;
    }

    .containerModalSection{
        flex-direction: column-reverse;
    }
    .sectionModal__img--container{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .section2Modal__top{
        width: 100%;
        height: 60%;
    }

    .section2Modal__bottom__h3{
        font-size: 1.5rem;
    }
}